.demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.demo-container h1, h3 {
  font-size: 2rem;
  color: #26215b;
  margin-bottom: 20px;
}