body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #818f98, #10383d); 
}




.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.main-box {
  background: #a1c8dd;
  padding: 90px;
  border-radius: 20px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;



}

.heading {
  font-size: 32px;
  margin-bottom: 30px;
  color: #000000;


}

.input-box {
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 10px;

  border: 2px solid #1f1e1e; 
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;

}

.btn {
  padding: 12px 25px;
  font-size: 16px;
  background-color: #42a5f5;
  border: 1px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: #ffffff;
}

.welcome-text {
  font-size: 28px;
  font-weight: bold;
  color: #000000; 
  animation: fadeIn 0.5s ease;
  margin-top: 20px;


}












@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  } 
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
