
  body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
    overflow: hidden;

}

.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('image/log.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
  margin-top: 1%;
}

.login-box {
  background: rgba(0, 0, 0, 0.45); /* Slight transparency */
  backdrop-filter: blur(0.1px);
  padding: 40px 32px;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  width: 420px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 2;

  pointer-events: fill;
  }

.login-title {
  font-size: 2rem;
  color: white;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
}
.signup-title{
  color: white;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
}

.signup-button{
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(90deg, #000000, #3c3c3c);
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.signup-button:hover {
  transform: scale(1.03);
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.login-input::placeholder {
  color: #ccc;
}

.login-input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
}

.login-button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  background: linear-gradient(90deg, #3c3c3c, #000000);
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.login-button:hover {
  transform: scale(1.03);
}

@media (max-width: 500px) {
  .login-form {
    width: 90vw;
    padding: 24px 16px;
  }

  .login-title {
    font-size: 1.8rem;
  }
}

 